# VS Code
.vscode/
*.code-workspace

# pixi environments
llms-from-scratch/.pixi/
!llms-from-scratch/.pixi/config.toml

# Misc
materials/
**/README.md
**/exercise-solutions.ipynb
**/04_bonus_dataloader-intuition
personal_notes.md

# PyTorch
*.pt
*.pth
