# VS Code
.vscode/
*.code-workspace

# Python
**/__pycache__/

# pixi environments
llms-from-scratch/.pixi/
!llms-from-scratch/.pixi/config.toml

# Misc
materials/
# **/README.md
**/exercise-solutions.ipynb
**/04_bonus_dataloader-intuition
personal_notes.md
**/notebooks/**/*.pdf

# PyTorch
*.pt
*.pth
*.safetensors

# Model weights
**/gpt2/

# Data
llms-from-scratch/notebooks/ch06/01_main-chapter-code/sms_spam_collection.zip
llms-from-scratch/notebooks/ch06/01_main-chapter-code/test.csv
llms-from-scratch/notebooks/ch06/01_main-chapter-code/train.csv
llms-from-scratch/notebooks/ch06/01_main-chapter-code/validation.csv
llms-from-scratch/notebooks/ch06/01_main-chapter-code/sms_spam_collection/SMSSpamCollection.tsv
llms-from-scratch/notebooks/ch06/01_main-chapter-code/sms_spam_collection/readme
