# VS Code
.vscode/
*.code-workspace

# pixi environments
llms-from-scratch/.pixi/
!llms-from-scratch/.pixi/config.toml

# Misc
materials/
**/README.md
**/exercise-solutions.ipynb

# PyTorch
*.pt
*.pth
